<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>CreatingBestParty|CreatingParty</title>
</head>
<body>
  <div>
    <select name="type1" id="type1">
      <option value="Empty"></option>
      <option value="N">ノーマル</option>
      <option value="H">ほのお</option>
      <option value="W">みず</option>
      <option value="V">でんき</option>
      <option value="L">くさ</option>
      <option value="I">こおり</option>
      <option value="C">かくとう</option>
      <option value="P">どく</option>
      <option value="T">じめん</option>
      <option value="A">ひこう</option>
      <option value="E">エスパー</option>
      <option value="B">むし</option>
      <option value="R">いわ</option>
      <option value="G">ゴースト</option>
      <option value="D">ドラゴン</option>
      <option value="M">あく</option>
      <option value="S">はがね</option>
      <option value="F">フェアリー</option>
    </select>
    <select name="type2" id="type2">
      <option value="Empty"></option>
      <option value="N">ノーマル</option>
      <option value="H">ほのお</option>
      <option value="W">みず</option>
      <option value="V">でんき</option>
      <option value="L">くさ</option>
      <option value="I">こおり</option>
      <option value="C">かくとう</option>
      <option value="P">どく</option>
      <option value="T">じめん</option>
      <option value="A">ひこう</option>
      <option value="E">エスパー</option>
      <option value="B">むし</option>
      <option value="R">いわ</option>
      <option value="G">ゴースト</option>
      <option value="D">ドラゴン</option>
      <option value="M">あく</option>
      <option value="S">はがね</option>
      <option value="F">フェアリー</option>
    </select>
  </div>
  <button type="button" id="CreatingParty">
    パーティ作成
  </button>
  <div>
    <table border="1">
      <tr>
        <th> </th>
        <th> </th>
        <th>ノーマル</th>
        <th>ほのお</th>
        <th>みず</th>
        <th>でんき</th>
        <th>くさ</th>
        <th>こおり</th>
        <th>かくとう</th>
        <th>どく</th>
        <th>じめん</th>
        <th>ひこう</th>
        <th>エスパー</th>
        <th>むし</th>
        <th>いわ</th>
        <th>ゴースト</th>
        <th>ドラゴン</th>
        <th>あく</th>
        <th>はがね</th>
        <th>フェアリー</th>
      </tr>
      <tr>
        <th>ほのお</th>
        <th> </th>
        <td>○</td>
        <td>△</td>
        <td>○</td>
        <td>△</td>
        <td>○</td>
        <td>△</td>
        <td>○</td>
        <td>△</td>
        <td>○</td>
        <td>△</td>
        <td>○</td>
        <td>△</td>
        <td>○</td>
        <td>△</td>
        <td>○</td>
        <td>△</td>
        <td>○</td>
        <td>△</td>
      </tr>
      <tr>
        <th>ほのお</th>
        <th>みず</th>
        <td>○</td>
        <td>△</td>
        <td>○</td>
        <td>△</td>
        <td>○</td>
        <td>△</td>
        <td>○</td>
        <td>△</td>
        <td>○</td>
        <td>△</td>
        <td>○</td>
        <td>△</td>
        <td>○</td>
        <td>△</td>
        <td>○</td>
        <td>△</td>
        <td>○</td>
        <td>△</td>
      </tr>
      <tr>
        <th>ほのお</th>
        <th> </th>
        <td>○</td>
        <td>△</td>
        <td>○</td>
        <td>△</td>
        <td>○</td>
        <td>△</td>
        <td>○</td>
        <td>△</td>
        <td>○</td>
        <td>△</td>
        <td>○</td>
        <td>△</td>
        <td>○</td>
        <td>△</td>
        <td>○</td>
        <td>△</td>
        <td>○</td>
        <td>△</td>
      </tr>
    </table>
  </div>
</body>
<script>
  var type1Obj = document.getElementById("type1");
  var type2Obj = document.getElementById("type2");

  var masterDataList = new Array();
  
  window.onload = () => {
    Array.from(type1Obj.children).forEach(child => {
      masterDataList.push(child.cloneNode(true));
    });

    type1Obj.addEventListener("change", ev => {
      while(type2Obj.children.length > 1) type2Obj.removeChild(type2Obj.lastChild);

      let index = ev.target.options.selectedIndex;

      for(let i = 1; i < masterDataList.length; i++) {
        if(i == index) continue;
        type2Obj.appendChild(masterDataList[i].cloneNode(true));
      }
    });

    document.getElementById("CreatingParty").addEventListener("click", ()=>{
      let type1 = type1Obj.options[type1Obj.options.selectedIndex].getAttribute("value");
      let type2 = type2Obj.options[type2Obj.options.selectedIndex].getAttribute("value");
      
    });
    
  }
</script>
</html>